<% layout('layouts/boilerplate')%>
    <h1>Edit Job</h1>
    <form action="/jobs/<%=job._id%>?_method=PUT" method = "POST">
       
        <div>
            <label for = "title">Job Title</label>
            <input type="text" id = "title" name = "job [title]" value="<%=job.title%>">
        </div>

        <div>
            <label for = "company">Company Name</label>
            <input type="text" id = "company" name = "job [company]" value="<%=job.company%>" >
        </div>

        <div>
            <label for = "location">Location</label>
            <input type="text" id = "location" name = "job [location]" value="<%=job.location%>" >
        </div>

        <div>
            <label for = "Contact Email">Contact Email</label>
            <input type="text" id = "email" name = "job [email]" value="<%=job.email%>">
        </div>

        <div>
            <label for = "Job description">Job Description</label>
            <input type="text" id = "description" name = "job [description]" value="<%=job.description%>">
        </div>
        
        <button>Update This Job</button>
    </form>
    <a href="/jobs/<%= job._id%>">Back to all jobs</a>
